html, body {
margin:0;
padding:0;
}
body{
background-color: #ecc4a7 ;
font-family:Verdana,sans-serif;
font-size:100%;
}
.mario2 img {
filter: grayscale(1);
-webkit-filter: grayscale(1);
}
.mario2 img:hover {
filter: grayscale(0);
-webkit-filter: grayscale(0);
}